/*  
	Group Number: 3
	Name: Hadeel Abuhamous ID: 2006291
    Name: Dima Kanawati    ID: 1917074
	Section: BAR
    Date: 20 September 2023  

    ======================   All pages stylesheet   ======================
*/

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
    box-sizing: border-box;
    line-height: 30px;
}

/* Header */
.emaa {
    width: 100%;
    min-height: 100vh;
    background-color: #faf7f0;
    color: #000;
    padding-bottom: 50px;
}

/* Header */
nav {
    background: linear-gradient(to bottom, #d4a373, #faedcd, #f4eddb);
    width: 100%;
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Header */
#menu {
    font-size: 130%;
}

/* Emaa's logo size */
.logo {
    width: 120px;
}

/* Profile picture */
.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

/* Header */
nav ul {
    width: 100%;
    text-align: right;
}

/* Header */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* Header */
nav ul li a {
    color: #000;
    text-decoration: none;
}

/* Header profile menu */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

/* Header profile menu */
.sub-menu-wrap.open-menu {
    max-height: 400px;
}

/* Header profile menu */
.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

/* Header profile menu */
.user-info {
    display: flex;
    align-items: center;
}

/* Header profile menu */
.user-info h3 {
    font-weight: 400;
}

/* Header profile menu */
.user-info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

/* Header profile menu */
.sub menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

/* Header profile menu */
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

/* Header profile menu */
.sub-menu-link p {
    width: 100%;
}

/* Header profile menu */
.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

/* Header profile menu */
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

/* Header profile menu */
.sub-menu-link:hover p {
    font-weight: 600;
}

/* Header profile menu */
#username {
    background-color: white;
}

/*Blockqoute*/
blockquote {
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

/* Address */
address {
    background: linear-gradient(to top, #a1b498, #e9edc9);
    display: block;
    color: #000;
    font-style: italic;
    text-align: center;
    font-size: 12px;
}

/* Cite */
cite {
    font-style: italic;
    background: linear-gradient(to bottom, #a1b498, #e9edc9);
    display: block;
    text-align: center;
    font-size: 12px;
}

/* img with id SignLangimg */
#SignLangimg {
    float: right;
    border-radius: 25%;
    margin-left: 50px;
}

/* Page title in all pages */
.PageTitle {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background: rgba(212, 163, 115, 0.4);
    padding: 20px;
    margin: 50px 100px 40px 1200px;
    border-radius: 0px 25px 0px 25px;
}

/* BodyBox in all pages */
div.BodyBox {
    background: rgba(212, 163, 115, 0.3);
    padding: 30px;
    margin: 40px 130px 20px 130px;
    border-radius: 0px 25px 0px 25px;
}

/* BodyBox Heading 1 and 2 in all pages */
div.BodyBox h1,
h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(212, 163, 115, 0.3);
    padding: 5px;
    border-radius: 0px 15px 0px 15px;
}

/* BodyBox Heading 2 in all pages */
div.BodyBox h2 {
    margin-top: 30px;
}

/* BodyBox img with id signimgH */
div.BodyBox #signimgH {
    margin-right: 450px;
}

/* BodyBox Paragraph in all pages */
div.BodyBox p {
    font-size: 20px;
}

/* BodyBox description list dt in all pages */
.BodyBox dl dt {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 800px 5px 20px;
    background: rgba(212, 163, 115, 0.3);
    padding: 2px;
    border-radius: 0px 15px 0px 15px;
}

/* BodyBox description list dd in all pages */
.BodyBox dl dd {
    font-size: 18px;
    margin-left: 35px;
    margin-bottom: 10px;
}


/* 
======================   HOMEPAGE   ======================
 */

/* List items of BodyBox in home page only */
div.BodyBox ol li {
    background: rgba(212, 163, 115, 0.3);
    padding: 10px;
    margin: 10px;
    border-radius: 0px 25px 0px 25px;
}

/* List items of BodyBox in home page only */
#List {
    margin-left: 40px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

/* Nested list items of BodyBox in home page only */
#NestedList1 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
}

/* Nested nested list items of BodyBox in home page only */
#NestedList2 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* LinkedBotton in home page only */
.LinkedBotton {
    text-align: center;
    font-size: 35px;
    background: rgba(212, 163, 115, 0.5);
    padding: 20px;
    margin: 40px 600px 0px 600px;
    border-radius: 0px 25px 0px 25px;
}

/* LinkedBotton in home page only */
.LinkedBotton:hover {
    background: rgba(212, 163, 115, 0.8);
}

/* LinkedBotton in home page only */
.LinkedBotton a {
    color: #000;
    text-decoration: none;
}


/* 
======================   LEVELS   ======================
 */

/* Levels container in Levels page only */
.Levels img {
    border-radius: 50%;
    margin-bottom: 10px;
}

/*  in Levels page only */
.Levels P {
    font-size: 16px;
    background: rgba(212, 163, 115, 0.4);
    color: #966157;
    position: absolute;
    padding: 10px;
    border-radius: 15px;
}

/* Levels img left side in Levels page only */
.leftLvl {
    margin-left: 470px;
}

/* Levels img right side in Levels page only */
.rightLvl {
    margin-left: 650px;
}

/* Levels description left side in Levels page only */
#leftP {
    margin: 10px 930px auto 160px;
}

/* Levels description right side in Levels page only */
#rightP {
    margin: 10px 315px auto 775px;
}


/* revision img in Levels page only */
#rivision {
    margin: 50px auto 100px 475px;
}

/* revision description in Levels page only */
#revisionP {
    margin: 170px auto 0px 280px;
}

/* 
======================   CONTACT   ======================
 */

/* BodyBox for Contact page */
div.BodyBoxContact {
    background: rgba(212, 163, 115, 0.3);
    padding: 30px;
    margin: 60px 0px 20px 600px;
    border-radius: 0px 25px 0px 25px;
    text-align: center;
    font-weight: bold;
    width: 500px;
}

#FeedbackFormButton {
    background-color: #966157;
    color: #fff;
    border: none;
    margin-left: 47%;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#FeedbackFormButton:hover {
    background-color: #dda15e;
}

.feedbackTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
======================   Login and Signup   ======================
 */
/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.loginSignupBody {
    min-height: 100vh;
    width: 100%;
    background: #faedcd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.loginSignupBody .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .registration {
    display: none;
}

#check:checked~.registration {
    display: block;
}

#check:checked~.login {
    display: none;
}

#check {
    display: none;
}

.container .form {
    padding: 2rem;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 16px;
    color: #644d35;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form input.button {
    color: #fff;
    background: #dda15e;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

.form input.button:hover {
    background: #644d35;
}

.signup {
    font-size: 17px;
    text-align: center;
}

.signup label {
    color: #644d35;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}

/* 
======================   Feedback Form   ======================
 */

.feedbackbody {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.feedbackbody h1 {
    text-align: center;
}

.feedbackbody form {
    max-width: 600px;
    margin: 0 auto;
    background: #faf7f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.feedbackbody fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.feedbackbody legend {
    font-weight: bold;
}

.feedbackbody label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
.feedbackbody textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

.feedbackbody select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedbackbody input[type="submit"] {
    background: #525252;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.feedbackbody input[type="submit"]:hover {
    background: #dda15e;
}